/* You can add global styles to this file, and also import other style files */

@import 'src/scss/yale_colors.scss';

$font-famiy-default: Arial, Helvetica, sans-serif;

body{
    margin: 0px;
    background-color: $yale-white;
    font-family: $font-famiy-default;
    min-width: fit-content;
}
