$yale-red: #d20000;
$yale-yellow: #ffad1f;
$yale-green: #2e7d32;
$yale-black: #0e0e0e;
$yale-grey: #666666;

$yale-white: #ffffff;
$yale-opac:#00000044;
$yale-menu-separator: #f3f3f3;
$yale-arrow: #707070;
$yale-footer: #666666;